{{/*
  GetSocials
  Retrieves the data for social services listed as default or though 
  slice context.

  @author @regisphilibert

  @context Slice of Strings (.)

  @access private

  @use
    - tnd-socials/private/GetProjectServices
    - tnd-socials/private/GetServiceURL
    - tnd-socials/private/GetIcon
    - tnd-socials/private/GetShareURL

  @return Slice of Maps
    - String (.Name)
      String (.Handle)
      String (.URL)
      SVG (String of safe HTML)

*/}}
{{ $Page := dict }}
{{ $project_services := slice }}
{{ $services := slice }}
{{ with partialCached "tnd-socials/private/GetProjectServices" "GetProjectServices" }}
    {{ $project_services = . }}
    {{ $services = . }}
{{ end }}
{{/* Defaults: */}}
{{ $selected_services := slice }}

{{ if or (reflect.IsSlice $) (reflect.IsMap $) }}
  {{ if reflect.IsSlice $ }}
    {{ $selected_services = . }}
  {{ else if reflect.IsMap $ }}
    {{ with $.Page }}
      {{ $Page = . }}
    {{ end }}
    {{ with $.services }}
      {{ $selected_services = . }}
    {{ end }}
  {{ end }}
  {{ with $selected_services }}
    {{ $services = slice }}
    {{ range . }}
      {{ with where $project_services "name" . }}
        {{ with index . 0 }}
          {{ $services = $services | append . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  
{{ end }}


{{/* If a service added later on uses a differnet pattern than https://{ service }.com, add to following: */}}
{{ $return := slice }}

{{ range $service := $services }}
  {{ $svg := false }}
  {{ $icon := .name }}
  {{ if eq .name "email" }}
    {{ $icon = "envelope-fill" }}
  {{ end }}
  {{ with .icon }}
    {{ $icon = . }}
  {{ end }}
  {{ $url := partialCached "tnd-socials/private/GetServiceURL" . . }}
  {{ with partialCached "tnd-socials/private/GetIcon" $icon $icon }}
    {{ $svg = . }}
  {{ end }}

  {{ $shareURL := "" }}
  {{ $share := false }}
  {{ with $Page }}
    {{ $args := dict "Page" . "service" $service }}
    {{ with  partial "tnd-socials/private/GetShareURL" $args }}
      {{ $shareURL = . }}
      {{ $share = true }}
    {{ end }}
  {{ end }}
  {{ $return = $return | append (dict "URL" $url "ShareURL" $shareURL "Share" $share "Name" (.name | humanize) "Handle" .handle "SVG" $svg) }}
{{ end }}

{{ return $return }}