{{/*
  GetSocials
  Retrieves the data for social services listed as default or though 
  slice context.

  @author @regisphilibert

  @context Slice of Strings (.)

  @access private

  @return Slice of Maps
    - String (.Name)
      String (.URL)
      SVG (String of HTML)

*/}}

{{/* Defaults: */}}
{{ $socials := slice "facebook" "twitter" "instagram" "linkedin" "meetup" "slack" "pinterest" }}
{{ if reflect.IsSlice . }}
  {{ $socials = . }}
{{ end }}

{{/* If a service added later on uses a differnet pattern than https://{ service }.com, add to following: */}}
{{ $social_urls := dict "some_service" "https://some_weird_url_for_this_service.com/" }}
{{ $return := slice }}
{{ range $service := $socials }}
  {{ $svg := false }}
  {{ with index site.Social $service }}
    {{ $url := printf "https://%s.com/" $service }}
    {{ with index $social_urls $service }}
      {{ $url = . }}
    {{ end }}
    {{/* If site.Social.service value includes a protocole, we use its value as URL */}}
    {{ if or (in . "https://") (in . "http://") }}
      {{ $url = . }}
    {{ else }}
      {{ $url = printf "%s%s" $url . }}
    {{ end }}
    {{ with partial "tnd-socials/private/func/GetIcon" $service}}
      {{ $svg = . }}
    {{ end }}
    {{ $return = $return | append (dict "URL" $url "Name" ($service | humanize) "SVG" $svg) }}
  {{ end }}
{{ end }}

{{ return $return }}