{{/*
  GetConfig

  Retrieves the settings from site.Params.tnd_socials. If not tnd_socials.services is found, it will look
  for site.Social and parse them accordingly.

  @author @regisphilibert

  @context String

  @access private

  @return Map
      Slice of Map (.services)
        - String (.Handle)
          String (.Name)
          String (.URL)
          HTML String (.Icon)

  @example - Go Template
    {{ $config := partialCached "tnd-socials/private/GetConfig" "GetConfig" }}

*/}}
{{ $config := dict }}
{{ with site.Params.tnd_socials }}
  {{ $config = . }}
{{ end }}

{{ return $config }}